header.header {
    background-color: whitesmoke;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.3);
}

header.header h1 {
    font-size: 1.8em;
}